:root {
	--primary: hsl(35, 5%, 20%);
	--secondary: hsl(20, 60%, 90%);
	--tertiary: hsl(187, 23%, 73%);
	--white: #fff;
	--light-grey: #f4f4f4;
}

::selection {
	background-color: var(--secondary);
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

body {
	font-family: 'Montserrat', sans-serif;
}

.container {
	width: 375px;
	margin: 0 auto;
	padding: 40px 24px;
}

.section:nth-child(2n) {
	background-color: var(--light-grey);
}

.section:nth-child(2n + 1) {
	background-color: var(--white);
}

p {
	color: #000;
	font-size: 1.1rem;
	line-height: 1.6;
}

a {
	text-decoration: none;
}

.bold {
	font-weight: 700;
}
/* Header section with hero image, profile picture and titles */
.header {
	background-image: url(./assets/hero4.jpg);
	background-size: cover;
	height: 520px;
	color: #fff;
}

.header-text {
	padding-top: 70px;
}

.header-name {
	font-weight: 400;
	font-size: 18px;
	line-height: 18px;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.header-title {
	font-weight: 700;
	font-size: 3rem;
	line-height: 1;
	text-transform: uppercase;
}

.header-subtitle {
	font-weight: 700;
	font-size: 24px;
	line-height: 40px;
	text-transform: lowercase;
}

.profile-picture-container {
	display: flex;
	justify-content: flex-end;
	padding-top: 100px;
}

.profile-picture {
	height: 180px;
	width: 180px;
	border-radius: 50%;
	border: 2px solid var(--light-grey);
}

.icon-container {
	display: flex;
	justify-content: flex-end;
	gap: 10px;
	margin-top: -10px;
}

.icon-wrapper {
	width: 45px;
	height: 45px;
	border: 2px solid var(--white);
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.icon {
	color: white;
	font-size: 1.7rem;
}

.icon-wrapper:hover {
	opacity: 75%;
	transition: 0.3s ease;
}

/* Line-dot section indicator and summary section */
.line {
	border: 1px solid var(--tertiary);
	width: 40px;
	display: inline-block;
	margin-bottom: 4px;
}

.dot {
	height: 10px;
	width: 10px;
	background-color: var(--tertiary);
	border-radius: 50%;
	display: inline-block;
}

/* Titles and subtitles */
.section-title {
	font-weight: 700;
	font-size: 1.5rem;
	color: var(--white);
	background-color: var(--primary);
	display: table;
	text-align: center;
	padding: 3px 10px;
	margin: 20px auto;
	text-transform: uppercase;
	border-radius: 3px;
}

.section-subtitle {
	font-weight: 700;
	font-size: 1.5rem;
	color: var(--primary);
	padding: 0 5px;
	margin: 40px 0 20px;
	text-transform: uppercase;
	text-align: center;
}
/* Tech section */
.tech {
	font-weight: 400;
	text-align: center;
}

/* Featured project section */
img {
	width: 100%;
}

.project {
	margin-top: 24px;
}

.project-article a {
	text-decoration: none;
}

.project-image-group {
	display: flex;
	justify-content: center;
	position: relative;
}

.project-overlay-title {
	background-color: transparent;
	position: absolute;
	color: var(--white);
	font-weight: 700;
	align-self: center;
	margin: 0;
	text-transform: uppercase;
}

.project-overlay {
	background-color: rgba(0, 0, 0, 0.3);
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
}

.project-overlay {
	transition: 0.3s ease;
}

.project-overlay:hover {
	background-color: transparent;
	color: transparent;
}

.project-overlay:hover .project-overlay-title {
	display: none;
}

.project-title {
	color: var(--primary);
	font-weight: 700;
	font-size: 1.3rem;
	text-transform: uppercase;
	text-align: left;
	margin: 10px 0 0;
}

.tag-wrapper {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 7px;
}

.tag-wrapper p {
	color: var(--primary);
	background-color: var(--secondary);
	font-size: 1rem;
	line-height: 1;
	font-weight: 500;
	padding: 7px;
	border-radius: 3px;
	margin: 5px 0 0;
	height: 30px;
}

.github-btn {
	font-size: 33px;
	margin: 3px 0 0;
	color: var(--primary);
}

.github-btn:hover {
	opacity: 75%;
	transition: 0.3s ease;
}

/* .project-image-group:hover .project-overlay,
.project-image-group:hover .project-overlay-title {
	display: none;
} */

/* Other projects section */
.other-project {
	margin: 20px 0 0;
}
.other-project-link {
	text-decoration: none;
	color: #000;
}

.other-project .project-title:hover {
	opacity: 75%;
	transition: 0.3s ease;
}

/* Thougts article section*/
.date {
	font-weight: 400;
	font-size: 20px;
	line-height: 30px;
	color: var(--tertiary);
	text-transform: uppercase;
}

.article {
	margin-top: 24px;
}

.article-title {
	color: var(--primary);
	font-weight: 700;
	font-size: 20px;
	line-height: 30px;
}

.more-thoughts-title {
	color: var(--primary);
	text-decoration: none;
}

.more-thoughts-title:hover {
	border-bottom: 2px solid #000;
	display: inline;
}

.arrow:hover {
	color: var(--tertiary);
	transition: 0.3s ease;
}

/* Skills section*/
.skills-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin: 40px 0 0;
}

.skills-list {
	list-style-type: none;
	font-size: 1.1rem;
	line-height: 1.8;
	text-align: center;
	margin-bottom: 20px;
}

.skill-title {
	color: var(--primary);
	font-weight: 700;
	text-transform: uppercase;
}

/* Footer section */
footer {
	background-color: var(--primary);
	color: #fff;
	text-align: center;
	padding: 60px;
}

footer h2 {
	font-weight: 700;
	font-size: 1.5rem;
	margin: 0 0 24px;
	text-transform: uppercase;
}
footer p {
	color: var(--white);
}
.email {
	color: var(--white);
}

.email:hover {
	border-bottom: 2px solid #fff;
}

footer .icon-container {
	justify-content: center;
	margin-top: 40px;
}

@media screen and (min-width: 768px) {
	.container {
		width: 700px;
	}

	.profile-picture-container {
		padding-top: 25px;
	}

	.profile-picture {
		transform: scale(1.3);
	}

	.header-name {
		font-size: 1.5rem;
		line-height: 1.5;
	}

	.header-title {
		font-size: 4rem;
	}

	.section-title,
	.section-subtitle,
	footer h2 {
		font-size: 1.8rem;
	}

	.project-group,
	.article-group {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 40px;
	}

	.skills-container {
		grid-template-columns: auto auto auto auto;
	}
}
@media screen and (min-width: 1100px) {
	.container {
		width: 1000px;
	}

	.profile-picture-container {
		padding-top: 10px;
	}

	.header-name {
		font-size: 1.7rem;
	}
	.header-title {
		font-size: 4.5rem;
	}

	.project-overlay-title {
		font-size: 28px;
	}
}
