:root {
    --primary: #f1984f;
    --secondary: #f1984f;
    --footer: #4f4f4f;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 375px;
    margin: 0 auto;
    padding: 40px 24px;
}

.section:nth-child(2n) {
    background-color: #F2F2F2;
}

.section:nth-child(2n+1) {
    background-color: #FFF;
}

p {
    color: #000;
    font-size: 18px;
    line-height: 30px;
}

a {
    text-decoration: none;
}

.bold {
    font-weight: 700;
}
/* Header section with hero image, profile picture and titles */
header {
    background-image: url(./assets/hero.jpg);
    background-size: cover;
    height: 520px;
    color: #FFF;
}

.header-text {
    padding-top: 70px;
}

.header-name {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
}


.header-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    text-transform: lowercase;
}

.header-subtitle {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 40px;
    text-transform: lowercase;
}

.profile-picture-container {
  display: flex;
  justify-content: flex-end;
  padding-top: 10px;
}

.profile-picture {
    height: 180px;
    width: 180px;
    border-radius: 50%;
    border: 2px solid #F4F4F4;
}

.icon-container {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: -50px;
}

.icon-wrapper {
    width: 45px;
    height: 45px;
    border: 2px solid #FFF;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon {
    filter: invert();
    width: 25px;
    height: 25px;
}

/* Line-dot section indicator and summary section */
.line {
    border: 1px solid var(--primary);
    width: 40px;
    display: inline-block;
    margin-bottom: 4px;
}

.dot {
    height: 10px;
    width: 10px;
    background-color: var(--primary);
    border-radius: 50%;
    display: inline-block;
}

/* Titles and subtitles */
.section-title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 22px;
    color: #FFF;
    background-color: var(--primary);
    display: table;
    text-align: center;
    padding: 3px 8px;
    margin: 24px auto;
    text-transform: uppercase;
}

.section-subtitle {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 22px;
    color: var(--primary);
    padding: 0 5px;
    margin: 40px 0 20px;
    text-transform: uppercase;
    text-align: center;
}
/* Tech section */
.tech {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
}

/* Featured project section */
img {
    width: 100%;
}

.project-article a {
    text-decoration: none;
}

.project-image-group {
    display: flex;
    justify-content: center;
    position: relative;
}

.project-overlay-title {
    background-color: transparent;
    position: absolute;
    color: #FFF;
    font-weight: 700;
    align-self: center;
    margin: 0;
    text-transform: uppercase;
}

.project-overlay {
    background-color: rgba(0,0,0,0.3);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.project-title {
    font-family: 'Roboto', sans-serif;
    color: var(--primary);
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
    text-align: left;
    margin: 10px 0 0;
}

.project-paragraph {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

.tag-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 5px;
}

.tag-wrapper p {
    color: #FFF;
    background-color: var(--secondary);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 12px;
    font-weight: 500;
    padding: 8px;
    border-radius: 3px;
    margin: 10px 0;
}

.project-image-group:hover .project-overlay, .project-image-group:hover .project-overlay-title {
	display: none;
}


/* Other projects section*/
.other-project-link {
    text-decoration: none;
}

.arrow {
    color: var(--primary);
    font-weight: 700;
}

.arrow:hover {
    transform: scale(1.5);
}

/* Thougts article section*/
.thoughts-text, .more-thoughts-title {
    font-family: 'Roboto', sans-serif;
}
.date {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: var(--primary);
    text-transform: uppercase;
}

.article-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
}

.more-thoughts-title {
    color: #000;
    text-decoration: none;
}

.more-thoughts-title:hover {
    border-bottom: 2px solid #000;
    display: inline;
}

/* Skills section*/
.skills {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}

.skills-list {
    list-style-type: none;
    font-size: 17px;
    line-height: 30px;
    margin: 10px;
}

.skill-title {
    color: var(--primary);
    font-weight: 700;
    text-transform: uppercase;
}
/* Footer section */
footer {
    background-color: var(--footer);
    color: #FFF;
    text-align: center;
    padding: 60px;

}

footer h2 {
    font-weight: 700;
    font-size: 22px;
    margin: 0 0 24px;
    text-transform: uppercase;
}
footer p {
    color: #FFF;
}
footer a {
    color: #FFF;
}

footer a:hover {
    border-bottom: 2px solid #FFF;
}

@media screen and (min-width: 768px) {
	.container {
		width: 700px;
	}
    .section {
        padding: ;
    }
    .profile-picture-container {
        padding-top: 100px;
    }

    .section-title, .section-subtitle {
        font-size: 28px;
    }

    .project-group, .article-group {
        display: grid;
		grid-template-columns: 1fr 1fr;
        gap:  40px;
    }
}

@media screen and (min-width: 1200px) {
	.container {
		width: 1000px;
	}

    .header-name {
        font-size: 20px;
    }
    .header-title {
        font-size: 50px;
    }
    .header-subtitle {
        font-size: 34px;
    }


}